header.nav {
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  z-index: -1;
  height: 400px;
  text-align: center;
  color: #ffffff;
  background-color: #005c42;
  background-image: url('https://www.transparenttextures.com/patterns/black-scales.png');
}

.username {
  color: white;
  font-size: 35px;
}

@media screen and (min-width: 1024px) {
  header.nav {
    margin-top: 20px;
    width: 45vw;
  }
}
