html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  width: 100%;
  height: 100vh;
  font-family: Source Sans Pro, sans-serif;
  overflow-wrap: break-word;
  min-height: 100%;
}

.container {
  margin: 0 5%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 50vw;
  }

  .content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .filler {
    height: 120px;
  }
}
