nav {
  color: #ffffff;
  background-color: #4056a1;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: sticky;
  top: 0;
  height: 120px;
  z-index: 2;
  font-family: Bungee, cursive;
}

.logo {
  padding: 1.5em;
  float: left;
}

.nav-tweet {
  padding: 1.5em;
}
div.nav-glyph {
  display: flex;
  align-content: right;
}
.fa-angle-double-down {
  padding-top: 10px;
  opacity: 0.7;
}

.fa-angle-double-down:hover {
  opacity: 1;
}
