body {
  position: absolute;
}

.new-tweet {
  position: relative;
  display: block;
  border-bottom: 5px solid black;
  margin-bottom: 50px;

  /* width: 100%; */
}

input {
  font-family: Bungee, cursive;
  display: inline-block;
  background-color: #4056a1;
  color: #ffffff;
  float: left;
  margin-top: 8px;
}

textarea {
  display: block;
  width: 100%;
  border: hidden;
  background-color: #f4f1ec;

  /* margin-bottom: 10px; */
}

.counter {
  margin-top: 5px;
  float: right;
}

/* fieldset {
  border: 0px;
} */
