body {
  position: absolute;
}

#new-tweet {
  position: relative;
  display: block;
  border-bottom: 5px solid black;
  margin-bottom: 50px; /* pushed text below input field down*/
  display: none;
}

input {
  font-family: Bungee, cursive;
  display: inline-block;
  background-color: #4056a1;
  color: #ffffff;
  margin-top: 8px;
  float: left;
}

textarea {
  display: block;
  width: 100%;
  border: hidden;
  background-color: #f4f1ec;
}

.counter {
  margin-top: 5px;
  float: right;
}

.negative {
  color: red;
}
