article.tweet-container {
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
  opacity: 0.8;
  background-color: #f4f1ec;
  display: block;
  width: 100%;
  height: 200px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 20px;
}

article.tweet-container:hover {
  opacity: 1;
  box-shadow: 3px 3px black;
}

article.tweet-container > header {
  background-color: #f4f1ec;
  display: block;
  height: 30%;
  background-image: none;
  color: black;
  text-align: left;
}

article.tweet-container > footer {
  position: absolute;
  display: block;
  color: black;
  background-color: #f4f1ec;
  float: left;
  bottom: 0px;
  left: 50px;
  height: 20%;
}

div.oldTweet {
  border-bottom: 3px solid black;
  width: 95%;
  display: inline-block;
  text-align: left;
  height: 40%;
}

span.user-name-small {
  position: absolute;
  top: -10px;
  left: 60px;
}

.user-handle-small {
  position: absolute;
  opacity: 0;
  top: 0px;
  right: 60px;
}

article.tweet-container:hover .user-handle-small {
  opacity: 1;
}

.avatar-small {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 60px;
}

.fa-flag {
  position: absolute;
  right: 70px;
  bottom: 10px;
}

.fa-retweet {
  position: absolute;
  right: 110px;
  bottom: 10px;
}
.fa-heart {
  position: absolute;
  right: 150px;
  bottom: 10px;
}
